// will be used as global font for the whole app
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.cursor-pointer {
  cursor: pointer;
}

.button {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.tag__wrapper {
  background-color: #d4d5d6;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;

  .button {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hover-shadow:hover {
  box-shadow: 0px 0px 5px 0px rgba(198, 188, 188, 0.75);
}

.imgSetting {
  object-fit: contain;
  width: 10rem;
  border-radius: 10px;
}

.details {
  display: flex;
  align-items: center;
}

.value {
  color: #343a40;
  font-weight: 600;
  margin-left: 4px;
}

.image__wrapper {
  height: 75px;
  max-width: 170px;
  display: flex;
  justify-content: center;

  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type='date']:focus::-webkit-datetime-edit {
  color: #000000 !important;
}

::-webkit-scrollbar {
  display: none;
}

.table-data-hover {
  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    color: green !important;
  }
}

.card-height {
  height: 400px;
  overflow: hidden scroll;
}
.active-status {
  background-color: #e1f4d0;
  color: #56ca00;
  border-radius: 6px;
  padding: 1px 2px;
}

.inactive-status {
  background-color: #ffcfce;
  color: #ff0000;
  border-radius: 6px;
  padding: 1px 2px;
}

.refused-inactive-status {
  background-color: #ececec;
  color: #1c1c1c;
  border-radius: 6px;
  padding: 1px 2px;
}

.img-tag {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-transform: capitalize;
  text-align: center;
  padding: 6px 0px;
  background: #e1f4d0;
  font-size: 12px;
}

.img-tag-active {
  color: #56ca00;
}

.img-tag-inactive {
  background: #ffcfce;
  color: #ff0000;
}

.orderStatus {
  background-color: #fff9bd;
  color: #eac300;
  border-radius: 6px;
  padding: 1px 2px;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

table > thead {
  background-color: #f5f4f4;

  tr {
    border-bottom: transparent !important;
  }
}

.table :not(:first-child) {
  border-top: none !important;
}

.table > tbody:last-child {
  border-bottom: transparent !important;
}

.link {
  &:hover {
    text-decoration: underline;
    font-weight: 500;
  }
}

.header-logo-text {
  font-size: 12px;
  font-weight: 400;
  color: #df1e32;
  vertical-align: sub;
  padding-left: 8px;
  line-height: 1;
}

#side-menu {
  > li p {
    position: relative;

    > .cs-badge {
      font-size: 9px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      text-align: center;
      line-height: 16px;
      background: #f7c137;
      position: absolute;
      top: 2px;
      right: -20px;
      color: #000000;
    }

    .cs-badge:empty {
      display: none;
    }
  }
}
// Phone input
.PhoneInput {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  // background-color: #fff;
  background-clip: padding-box;
  // border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.PhoneInputInput {
  border: 0;
  background: transparent;
}

.PhoneInputCountrySelect {
  background-color: #f6f8fa;
  font-weight: 500;
  font-size: 15px;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.PhoneInputCountrySelect > option {
  padding: 12px 0px;
}

.PhoneInputCountrySelect > option:checked {
  background-color: #ecf0f5;
}
// Phone input

// =================== overriding styles for designing the app ** will remove later
body {
  font-family: 'Inter', sans-serif;
  color: #363636;
  scrollbar-color: transparent transparent;
}

@keyframes refreshIconSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.refresh-animate .MuiButton-endIcon {
  animation: refreshIconSpin 800ms linear infinite forwards;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.drag-handler {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sidebar-menu-item {
  padding: 16px 26px;
  border-left: 4px solid transparent;
  transition: all 230ms ease 0s;
  display: flex;
  align-items: center;
  gap: 11px;

  & > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &.child:hover,
  &.child.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff !important;
  }

  &.child {
    & > span {
      color: white;
    }
    & > svg {
      color: white;
    }
  }

  &.parent:hover,
  &.parent.active {
    background-color: rgba(177, 177, 177, 0.2);
    border-color: #dd5b63 !important;
  }

  &.parent {
    & > span {
      color: #363636;
    }
    & > svg {
      color: #363636;
    }
  }
}

.page-content {
  padding: 0;
  padding-top: 35px;
}

.page-content2 {
  padding-top: 35px;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

// css spinner
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  // content: ' ';
  // display: block;
  // position: absolute;
  // top: 3px;
  // left: 37px;
  // width: 6px;
  // height: 18px;
  // border-radius: 20%;
  // background: #fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 20px;
  left: 37px;
  width: 4px;
  height: 12px;
  border-radius: 20%;
  background: #5e97a9;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
  // display: none;
}
